/****** RESET BÁSICO ******/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/****** BODY ******/
/*El color de fondo es #f5f5f5
Utiliza la fuente Segoe UI, y si no una parecida (sans-serif).
El color de la letra es #333  */
body {
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    background-color: #f5f5f5;
}

/****** HEADER STICKY ******/
/* el header se queda pegado a la parte de arriba del navegador al hacer scroll.
tiene un color de fondo #2c3e50
"Mi blog" tiene un color #3498db
*/
.site-header {
    background-color: #2c3e50;
    position: sticky;
    top: 0;
    padding: 10px;
}

.logo {
    color: #3498db;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

/****** NAVEGACIÓN ******/
/*Los botones del menú Inicio, artículos...:
    - color blanco
    - bordes redondeados
    - con el ratón por encima: #3498db
 */
.nav-list {
    display: flex;
    list-style: none;
}
.nav-list li{
    padding: 10px;
}
.nav-list a{
    margin: 20px;
    padding: 10px;
}

.nav-list a {
    color: white;
    text-decoration: none;
}

.nav-list a:hover {
    background-color: #3498db;
    border-radius: 3px;
}

/****** CONTENIDO PRINCIPAL ******/
.content-wrapper {
    display: flex;
}

/****** MAIN CONTENT - ocupa 2/3 ******/
.main-content {
    flex: 2;
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.post-date {
    color: rgb(150, 148, 148);
}
.main-content p{
    padding: 5px;
}

/****** SIDEBAR - ocupa 1/3 ******/
.sidebar {
    flex: 1;
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.widget ul{
    list-style: none;
}

/****** ARTÍCULOS ******/
/* Tienen un border-bottom, salvo el último, que no tiene 
los h2 son de color #2c3e50.
La fecha es de color #7f8c8d, y 0.9 veces el tamaño de la letra normal */


/****** WIDGETS (divs del aside) ******/
/* los h3 color #2c3e50, y con un borde inferior #3498db (también es el color de los a)
Al pasar el ratón por los enlaces, se subraya el texto.
*/
.widget a{
    text-decoration: none;
}
.widget a:hover{
    text-decoration: underline;
}


/****** FOOTER ******/
/*
color #2c3e50, y texto blanco.
los enlaces #3498db, subrayados al pasar el ratón por encima
*/
.site-footer{
    bottom: 0;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}


/****** MEDIA QUERY ******/
/* cuando el ancho es 768px o menos:
los elementos del menú se ponen debajo del título "Mi blog", centrado todo
deja de ser sticky, pero "Mi Blog" se fija en la parte de arriba, con una sombra al texto.
El aside se pone encima de main-content
*/
