* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    color: #131313;
    background-color: #ececec;
}

.site-header {
    background-color: #3c0000;
    color: white;
    top: 0;
    padding: 30px;
    text-align: center;
}
.site-header h1 {
    margin: 0;
    font-size: 2em;
    background-color: #630000;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 10px 10px rgba(216, 146, 146, 0.438);
}

.main-nav {
    background-color: #3c0000;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: center;
}
.nav-list li{
    padding: 20px;
}
.nav-list a{
    margin: 20px;
    padding: 10px;
}

.nav-list a {
    color: white;
    text-decoration: none;
}

.nav-list a:hover {
    background-color: #960018;
    border-radius: 3px;;
    padding: 10px;
}

.main-content {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tabla-pelis {
 border: 2px solid #333;
 border-collapse: separate;
 border-spacing: 5px; /* Espacio entre celdas */
 align-items: center;
 text-align: center;
 border-radius: 5px;
}

.tabla-pelis th,
.tabla-pelis td {
 border: 5px solid #a50f0fd8;
 padding: 10px;
 border-radius: 4px; /* Bordes redondeados */
}

.tabla-pelis th {
    background-color: rgba(255, 177, 88, 0.747);
}

.tabla-pelis td {
    background-color: rgba(252, 210, 161, 0.822);
}

.tabla-caption {
    background-color: rgb(233, 222, 222);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 10px;
    font-weight: bold;
    font-size: 1.5rem;
    border-left: 5px solid #630000;
}

.tabla-series {
 border: 2px solid #333;
 border-collapse: separate;
 border-spacing: 5px; /* Espacio entre celdas */
 align-items: center;
 text-align: center;
 border-radius: 5px;
}

.tabla-series th,
.tabla-series td {
 border: 5px solid #a50f0fd8;
 padding: 10px;
 border-radius: 4px; /* Bordes redondeados */
}

.tabla-series th {
    background-color: rgba(255, 177, 88, 0.747);
}

.tabla-series td {
    background-color: rgba(252, 210, 161, 0.822);
}

.tabla-capseries {
    background-color: rgb(233, 222, 222);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 10px;
    font-weight: bold;
    font-size: 1.5rem;
    border-left: 5px solid #630000;
}

.trailers-content h2{
    text-align: center;
    font-size: 1.5rem;
}

.trailers-content {
    background-color: rgb(230, 229, 229);
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

.trailers-video {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.trailer1 {
    background-color: rgb(235, 205, 205);
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

.trailer2 {
    background-color: rgb(235, 205, 205);
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

.trailer3 {
    background-color: rgb(235, 205, 205);
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

.trailer4 {
    background-color: rgb(235, 205, 205);
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

.trailer5 {
    background-color: rgb(235, 205, 205);
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

.trailer6 {
    background-color: rgb(235, 205, 205);
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

.plataformas-content {
    background-color: rgb(230, 229, 229);
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

.plataformas-content h2 {
    text-align: center;
    font-size: 1.5rem;
}

.imagen {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px;
}

.imagen figcaption {
    text-align: center;
    margin: 5px;
    font-weight: bold;
    background-color: rgb(240, 144, 144);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.imagen-net {
    background-color: rgb(235, 205, 205);
    padding: 20px;
    border-radius: 5px;
}

.imagen-prime {
    background-color: rgb(235, 205, 205);
    padding: 20px;
    border-radius: 5px;
}

.imagen-dis {
    background-color: rgb(235, 205, 205);
    padding: 20px;
    border-radius: 5px;
}
