* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
}

header {
    background-color: rgb(11, 0, 131);
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    background-color: rgba(15, 0, 178, 0.402);
    position: sticky;
    top: 0px;
}

nav>ul {
    display: flex;
    /*flex-direction: row;*/
    gap: 30px;
    justify-content: center;
    list-style: none;
    /* quito los · de los li */
}

/** botones del menú **/
nav>ul>li {
    background-color: rgb(108, 108, 230);
    margin: 2px 3px;
    /*2px arriba y abajo, 8px dcha e izda */
    padding: 7px 15px;
    border-radius: 4px;
}

nav>ul>li>a {
    text-decoration: none;
    color: white;
}

nav>ul>li:hover {
    background-color: rgb(73, 73, 167);
}

main {
    display: flex;
    gap: 30px
}
main>section{
    flex: 2;    /* para que ocupe 2/3 */
}
main>aside{
    flex:1; /* para que ocupe 1/3 */
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    margin: 10px 5px;
    padding: 10px;
    
}

 main>aside>h3{
    text-align: center;
    border-radius: 5px;
    margin: 5px 0;
    box-shadow: 5px 5px 7px rgb(255, 42, 0);
    padding: 6px;
 }
 main>section{
    background-color: rgb(241, 241, 241);
 }

.main-articles{ /*igual que poner main>section>div */
    display: flex;
    flex-wrap: wrap;    /*si no cabe de ancho, va a la línea siguiente*/
    gap: 20px;
    
    /*La <section> con los <article> alineados la izquierda. 
    Cada <article> tiene un tamaño original de 220px.*/
}
.main-articles>article{
    width: 220px;
    background-color: rgb(240, 229, 231);
    border-radius: 4px;
    margin: 2px;
    padding: 20px;
}
.main-articles>article>h3{
    text-align: center;
    color: rgb(0, 0, 44);
}
.main.articles>article>p{
    margin: 5px 0px;
    text-align: left;
}
.main-aside{
    /*ocupe 1/3*/
    flex: 1;
    background-color: rgb(214,212,212,0.479);
    border-radius: 4px;
    margin: 10px 5px;
    padding: 10px;
    width: 220px;
}
.main-aside>div{
    background-color: rgb(251,255,255);
    border-radius: 4px;
    margin: 20px 10px;
    padding: 20px;
}
.main-aside>h3{
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 4px;
    margin: 5px 0;
    box-shadow: 5px 5px 10px rgb(252, 20, 20);
}
.aside>div>ul>li>a{
    text-decoration: none;
    color: rgb(79, 136, 136);
}


/***SERVICIOS***/
.services-title{
    text-align: center;
}
.services{
    display: flex;
    gap: 20px;
}
.services>div{
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(222, 222, 222);
    border-top: 5px solid green;
    padding: 20px 30px 50px 30px;
}
.services>div>h4{
    margin-bottom: 10px;
}
footer>div>a{
    background-color: blueviolet;
    padding: 15px;
    border-radius: 5px;
}

/**media queries para responsive**/

/*tablets*/

@media(max-width:768px){

}
@media(max-width:480px){
    /*Aqui dentro van a air las reglas que se le aplican cuando el ancho es <=480px*/
    /*El layout de <main> debe cambiar : <aside> debe ir debajo de la seccion principal*/
    main{
        flex-direction: column;
        /*display:block;*/ /*esto tambien seria valido para que estuviera en horizontal*/
    }
    /*si pidiera que el aside tiene que ir encima de la seccion principal*/
    main>section{
        order: 2;
    }
    main>aside{
        order: 1;
    }
}
